.checkoutproduct{
	display: flex;
	background-color: white;
	padding: 10px;
	margin: 20px;
	border-radius: 20px;
}
.checkoutproduct__title{
	font-weight: 800;
}
.checkoutproduct__info > p{
	padding: 5px;
}
.checkoutproduct__ratings{
	display: flex;
}
.checkoutproduct > img{
	width: 180px;
	padding: 20px;
	height: 180px;
	object-fit: contain;
}

.checkoutproduct__info > button {
	background:  #f0c14b;
	border:  1px solid;
	border-radius: 5px;
	border: none;
	padding: 5px;
	color: #111;
}
